spring:
  datasource:
      username: root
      password: root
      driver-class-name: com.mysql.jdbc.Driver
      url: jdbc:mysql://localhost:3306/books_library?characterEncoding=UTF-8&allowMultiQueries=true
      type: com.alibaba.druid.pool.DruidDataSource
      druid:
        initial-size: 5
        max-active: 20
        min-idle: 10
        max-wait: 60000
        pool-prepared-statements: false
        max-pool-prepared-statement-per-connection-size: -1
        validation-query: select 1
        validation-query-timeout: 600000
        test-on-borrow: false
        test-on-return: false
        test-while-idle: true
        time-between-connect-error-millis: 2000
        min-evictable-idle-time-millis: 600000
        max-evictable-idle-time-millis: 1800000
            
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    cache-enabled: false
  mapper-locations:
  - classpath:mapper/**/**.xml
