<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.books.member.mapper.IndexMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="com.books.entity.member.Member">
        <id column="id" property="id"/>
    </resultMap>


    <select id="select" resultType="com.books.entity.member.Member">
        select * from tbl_mem_member where id = #{id}
    </select>


</mapper>
